@media (max-width: 767px) {
  .big-heading {
    font-family: "", sans-serif;
    font-size: 3rem;
    color: #333;
  }
  .workCaption {
    font-size: 0.8em;
  }
  .ico {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .ico img {
    max-width: 8vw;
  }
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
  .pair {
    position: absolute;
    right: 5%;
    top: 20%;
  }
  .single {
    z-index: -1;
    position: absolute;
    bottom: -300px;
    left: -300px;
  }

  .big-heading {
    font-family: "", sans-serif;
    font-size: 5rem;
    color: #333;
  }

  .ico {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .ico img {
    max-width: 3vw;
  }
}

#welcome {
  border: 2px solid red;
}
#wCol {
  border: 2px solid black;
}

#quote {
  background-color: #f8f8f8;
  border-left: 4px solid #d1d1d1;
  padding: 10px 20px;
  margin: 20px 0;
  font-style: italic;
  position: relative;
}

#quote::before {
  content: "\201C"; /* Virgolette aperte (unicode) */
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: -20px;
}

#quote::after {
  content: "\201D"; /* Virgolette chiuse (unicode) */
  font-size: 1.5em;
  position: absolute;
  bottom: 0;
  right: -20px;
}

#bg {
  position: absolute;
  top: 0;
  z-index: -1;
  padding: 0;
}
.topWave {
  stroke-dasharray: 200;
  animation: 15s linear infinite dash;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
